<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Files</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Your Uploaded Files</h2>
        <a href="{% url 'upload_file' %}" class="btn btn-primary mb-3">Upload a File</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Content</th>
                    <th>Upload Timestamp</th>
                    <th>S3 File Path</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.filename }}</td>
                    <td>{{ file.file_content|truncatewords:10 }}</td>
                    <td>{{ file.upload_timestamp }}</td>
                    <td>{{ file.s3_file_path }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>